

<div class="grid">
    <div class="col-12 md:col-9 card">

        <div>
            <div style="display: flex;">
                <h3>Shopping  Cart</h3>
            </div>
            
            <div  class="cart-item">
                <p-table [value]="cartItems" [paginator]="true" [rows]="5" responsiveLayout="scroll">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Image</th>
                        <th >Name</th>
                        <th pSortableColumn="price">Price <p-sortIcon field="price"></p-sortIcon></th>
                        <th>Qty</th>
                        <th>Delete</th>
                        <th>View</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr>
                        <td style="width: 15%; min-width: 5rem;">
                            <img src={{product.imagesUrl}} class="shadow-4" alt="{{product.name}}" width="50" height="50">
                        </td>
                        <td style="width: 35%; min-width: 6rem;">{{product.medicineName}}</td>
                        <td style=" min-width: 3rem;">{{product.price | currency:'INR'}}</td>
                        <td>1</td>
                        <td> <p-button  icon="pi pi-trash" (click)="removeFromCart(product.medicineId)" /></td>
                        <td style="width: 15%;">
                            <button pButton pRipple type="button" icon="pi pi-search" class="p-button p-component p-button-text p-button-icon-only" (click)="search(product.medicineId)"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            </div>
        </div>
    </div>
    <div class="col-12 md:col-3">
        <div class="card">
            <h5>Subtotal ( {{cartItems.length}} items): ₹ {{cartTotal}}</h5>
            <p-button [disabled]="true">CheckOut</p-button>
        </div>
    </div>
</div>
<p-toast />