<div class="spinner-container" *ngIf="loading">
    <p-progressSpinner ariaLabel="loading" />
</div>
    <div class="grid">
        <div class="col-12 lg:col-6 xl:col-3">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Orders</span>
                        <div class="text-900 font-medium text-xl">{{ordercount}}</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-blue-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-shopping-cart text-blue-500 text-xl"></i>
                    </div>
                </div>
                <!-- <span class="text-green-500 font-medium">24 new </span>
                <span class="text-500">since last visit</span> -->
            </div>
        </div>


        
        <div class="col-12 lg:col-6 xl:col-3">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Revenue</span>
                        <div class="text-900 font-medium text-xl">{{totalAmtofOrders | currency:'INR'}}</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-orange-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-dollar text-orange-500 text-xl"></i>
                    </div>
                </div>
                <!-- <span class="text-green-500 font-medium">%52+ </span>
                <span class="text-500">since last week</span> -->
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-3">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Customers</span>
                        <div class="text-900 font-medium text-xl">{{userCount}}</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-cyan-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-users text-cyan-500 text-xl"></i>
                    </div>
                </div>
                <!-- <span class="text-green-500 font-medium">520  </span>
                <span class="text-500">newly registered</span> -->
            </div>
        </div>
        
        <div class="col-12 card">
            <h4>All Orders</h4>
            <div class="col-12">
                <div class="card" *ngFor="let item of orders">
                    <div class="container">
                        <div class="grid">
                            <div class="col-12 md:col-3 ">
                                <p-timeline [value]="item.events">
                                    <ng-template pTemplate="content" let-event>
                                        <small class="p-text-secondary">{{ event.eventDate | date }}</small>
                                    </ng-template>
                                    <ng-template pTemplate="opposite" let-event>
                                        {{ event.status }}
                                    </ng-template>
                                </p-timeline>
                            </div>
                            <div class="col-12 md:col-4 ">
                                <p class="order-heading">ORDER PLACED</p>
                                <p class="order-date">{{item.orderDate | date}}</p>
                                <p class="order-number">ORDER # {{ item.orderId }}</p>
                                <p class="delivered-text" *ngIf="item.delieveryDate">Delivered {{item.delieveryDate | date}}</p>
                                <p> Subtotal: {{item.totalAmount | currency:'INR'}}</p>
                            </div>
                            <div class="col-12 md:col-5 ">
                                <p-table [value]="item.items">
            
                                    <ng-template pTemplate="header">
            
                                    </ng-template>
                                    <ng-template pTemplate="body" let-product>
                                        <tr>
                                            <td>{{product.medicineName}}</td>
                                            <td><img src={{product.imagesUrl[0]}} alt="product.medicineName" width="70" height="70"
                                                    class="shadow-4" /></td>
                                            <td>{{product.price | currency:'INR'}}</td>
            
                                        </tr>
                                    </ng-template>
            
                                </p-table>
                            </div>
                        </div>
                    </div>
                </div>
            
                <br>
                <br>
            </div>
        </div>
        


        
</div>

