
<div class="spinner-container" *ngIf="loading">
    <p-progressSpinner ariaLabel="loading" />
</div>

<div class="card">
    <h2>My Orders</h2>

    <div class="card" *ngFor="let item of orders">
        <div class="container">
            <div class="grid">
                <div class="col-12 md:col-3 ">
                    <p-timeline [value]="item.events">
                        <ng-template pTemplate="content" let-event>
                            <small class="p-text-secondary">{{ event.eventDate | date }}</small>
                        </ng-template>
                        <ng-template pTemplate="opposite" let-event>
                            {{ event.status }}
                        </ng-template>
                    </p-timeline>
                </div>
                <div class="col-12 md:col-4 ">
                    <p class="order-heading">ORDER PLACED</p>
                    <p class="order-date">{{item.orderDate | date}}</p>
                    <p class="order-number">ORDER # {{ item.orderId }}</p>
                    <p class="delivered-text" *ngIf="item.delieveryDate">Delivered {{item.delieveryDate | date}}</p>
                    <p> Subtotal: {{item.totalAmount | currency:'INR'}}</p>
                </div>
                <div class="col-12 md:col-5 ">
                    <p-table [value]="item.items">

                        <ng-template pTemplate="header">

                        </ng-template>
                        <ng-template pTemplate="body" let-product>
                            <tr>
                                <td>{{product.medicineName}}</td>
                                <td><img src={{product.imagesUrl[0]}} alt="product.medicineName" width="70" height="70"
                                        class="shadow-4" /></td>
                                <td>{{product.price | currency:'INR'}}</td>

                            </tr>
                        </ng-template>

                    </p-table>
                </div>
            </div>
        </div>
    </div>

    <br>
    <br>
</div>