<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <img src="assets/layout/images/{{layoutService.config().colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.svg" alt="logo">
        <span>AadeshPharma</span>
    </a>

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>
    
    
    
    <i class="pi pi-info-circle" pTooltip="Everything in this website is dynamic. If you face any problem try logout and login back(JWT token validation). You might encounter with bugs" ></i>

    

    <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
      

        <p-button   badge={{cartVal}}  [routerLink]="'/medicines/cart'"><i class="pi pi-shopping-cart" ></i> </p-button> 


        <button class="p-link layout-topbar-button" *ngIf="logOutVisible" (click)="logOut()">
            <i class="pi pi-sign-out"></i>
            <span>LogOut</span>
        </button>
        <button class="p-link layout-topbar-button" *ngIf="!logOutVisible" (click)="logInScreen()">
            <i class="pi pi-sign-in"></i>
            <span>SignIn</span>
        </button>
        <button class="p-link layout-topbar-button" *ngIf="logOutVisible" (click)="redirectTo()">
            <i class="pi pi-user"></i>
            <span >Profile</span>
        </button>
        

    </div>
</div>

<p-toast />
